@model IEnumerable<NewCommerceClient.Models.CheckoutModel>

@{
    ViewBag.Title = "CheckoutDisplay";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<h2>Checkout</h2>


<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SumPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApprovedStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SumPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApprovedStatus)
            </td>
            <td>
                @Html.ActionLink("Final Buy", "FinalBuy", new { id = item.OrderID }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
            </td>
        </tr>
    }

</table>
